::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
}

.dark ::-webkit-scrollbar-track {
  background-color: rgb(31, 41, 55);
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(75, 85, 99);
}

.sidebar-scrollbar {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar-track {
    background-color: white;
  }

  ::-webkit-scrollbar-thumb {
    background-color: grey;
  }

  .dark ::-webkit-scrollbar-track {
    background-color: rgb(31, 41, 55);
  }

  .dark ::-webkit-scrollbar-thumb {
    background-color: rgb(75, 85, 99);
  }
}
