::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-primary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-primary);
}

[data-theme] ::-webkit-scrollbar-track,
.dark ::-webkit-scrollbar-track {
  background-color: var(--bg-primary);
}

[data-theme] ::-webkit-scrollbar-thumb,
.dark ::-webkit-scrollbar-thumb {
  background-color: var(--border-primary);
}

.sidebar-scrollbar {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--bg-primary);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--border-primary);
  }

  [data-theme] ::-webkit-scrollbar-track,
  .dark ::-webkit-scrollbar-track {
    background-color: var(--bg-primary);
  }

  [data-theme] ::-webkit-scrollbar-thumb,
  .dark ::-webkit-scrollbar-thumb {
    background-color: var(--border-primary);
  }
}