@import "tailwindcss";

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  color: rgb(95, 91, 91);
}
::-webkit-scrollbar-track {
  color: white;
}
::-webkit-scrollbar-button {
  display: none;
}
